@font-face {
  font-family: testingFonts;
  src: url(../fonts/Broken-Detroit.ttf);
}

.headerContainer {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  margin: 0;
  background-color: #68b3b1;
  /* border: black solid;
  border-width: 0 1px 1px 1px; */
}
