@font-face {
  font-family: navFont;
  src: url(../fonts/CODEBold.otf);
}

.navBar {
  display: flex;
  height: 4vh;
  justify-content: center;
  align-items: center;
  /* background-color: #ff675c; */
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px black solid;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navItem {
  display: inline-block;
  padding-top: 7px;
  margin-left: 40px;
  /* padding-left: 40px; */
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-family: navFont;
  font-size: calc(5px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  animation: fadein 1s;
}

.navItem:last-child {
  padding: 0;
}

.navItem:hover {
  /* color: rgba(0, 0, 0, 1); */
  color: rgba(255, 255, 255, 1);
}

body {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .navBar {
    margin-top: 4em;
  }

  .navItem {
    font-size: calc(16px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    /* padding-right: 10px; */
  }
}
