a {
  outline: 0;
}

.socialBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh;
  /* background-color: #ff675c; */
  /* background-color: rgba(0, 0, 0, 0.6); */
}

.socialList {
  padding: 0;
  list-style-type: none;
}

.socialItem {
  display: inline-block;
  text-align: center;
  animation: fadein 1s;
}

.socialBar svg {
  height: 1.5rem;
  margin: -4em 0.5rem;
  margin-top: 0;
  transition: all 0.3s ease-in-out;
}

.socialBar svg:hover {
  transform: scale(1.1);
}

.faPrimary {
  /* color: rgba(0, 0, 0, 0.8); */
  color: rgba(255, 255, 255, 0.7);
}

.faPrimary:hover {
  color: white;
}
